$base-color-1: #3AB4F2;
$base-color-2: #8DD9FF;
$base-color-3: #C5E8FA;
$base-color-4: #E9F7FF;

$sub-color-1: #016A70;
$sub-color-2: #4BACB1;
$sub-color-3: #A6D5D8;
$sub-color-4: #E8F7F8;

$accent-color-1: #F7E987;
$accent-color-2: #FCF4BA;
$accent-color-3: #FFFBDE;
$accent-color-4: #FFFDEF;

$black-1: #000000;
$black-2: #B6B6B6;
$black-3: #E6E6E6;
$black-4: #F8F7F7;

$white: #FFFFFF;